<div class="p-2">

    <form action="/dashboard/filtrado" method="POST">
        <label class="text-gray-300 font-medium">Atributo
            <select name="atributo">
                <option value="nombrePais">Nombre del país</option>
                <option value="nombreCapital">Nombre de la capital</option>
                <option value="region">Región</option>
                <option value="bordes">Paises fronterizos</option>
                <option value="lenguajesHablados">Idiomas hablados</option>
                <option value="zonasHorarias">Zonas horarias</option>
                <option value="creador">Creador</option>
            </select>
        </label>
        <label class="text-gray-300 font-medium">si:</label><br>
        <input type="text" name="valor" required class="w-full mt-1 mb-4 p-2 rounded bg-gray-700 text-gray-200 border border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
        <br>
        <button type="submit" class="ml-6 bg-brown-500 text-black px-4 py-2 rounded">
            boton
        </button>
    </form>
        <!-- Tabla que contiene los paises -->
        <table class="min-w-full border border-gray-300 text-sm text-left">
            <thead>
                <!-- Encabezado -->
                <tr class="bg-gray-100 border-b border-gray-300">
                    <th class="p-2 font-semibold">País</th>
                    <th class="p-2 font-semibold">Capital</th>
                    <th class="p-2 font-semibold">Cant. Población</th>
                    <th class="p-2 font-semibold">Área</th>
                    <th class="p-2 font-semibold">Región</th>
                    <th class="p-2 font-semibold">Fronteras</th>
                    <th class="p-2 font-semibold">Índice_Gini (recientes)</th>
                    <th class="p-2 font-semibold">Idiomas</th>
                    <th class="p-2 font-semibold">Bandera del país</th>
                    <th class="p-2 font-semibold">Zonas horarias</th>
                    <th class="p-2 font-semibold">Creador</th>
                    <th class="p-2 font-semibold">-</th>
                    <th class="p-2 font-semibold">-</th>
                </tr>
            </thead>
        
            <tbody>
                <!-- Cuerpo, cada pais se rellena con las propiedades del array enviado-->
                <% paises.forEach(pais => { %>
                <tr class="border-b border-gray-300 hover:bg-gray-50">
                    <td class="p-2"><%= pais.nombrePais %></td>
                    <td class="p-2"><%= pais.nombreCapital %></td>
                    <td class="p-2"><%= pais.poblacion.toLocaleString("es-AR") %></td>
                    <td class="p-2"><%= pais.area.toLocaleString("es-AR") %>m<sup>2</sup></td>
                    <td class="p-2"><%= pais.region %></td>
                    <td class="p-2"><%= pais.bordes && pais.bordes.length > 0 ? pais.bordes : '-' %></td>
                    <td class="p-2"><%= pais.gini && pais.gini > 0 ? pais.gini + "%" : '-' %></td>
                    <td class="p-2"><%= pais.lenguajesHablados %></td>
                    <td class="p-2"><img src="<%=pais.bandera%>" class="w-12 h-auto border"/></td>
                    <td class="p-2"><%= pais.zonasHorarias %></td>
                    <td class="p-2"><%= pais.creador %></td>
                    <td class="p-2">
                        <!--Boton para editar país-->
                        <form action="/pais/<%= pais._id %>/editar" width="5%" method="GET" class="inline">
                            <button type="submit" class="px-3 py-1 bg-blue-500 text-white rounded hover:bg-blue-600">Editar</button>
                        </form>
                    </td>
                    <td class="p-2">
                        <!-- Boton para eliminar país -->
                        <form action="pais/<%= pais._id %>?_method=DELETE" method="POST" class="inline">
                            <button type="submit" onclick="return confirm('¿Seguro que querés eliminar este héroe?')" class="px-3 py-1 bg-red-500 text-white rounded hover:bg-red-600">Eliminar</button>
                        </form>
                    </td>
                </tr>
                <% }) %>
            </tbody>
            <!-- Píe de tabla donde damos los resultados de algunos campos fusionados-->
            <tfoot>
                <tr class="border-b border-gray-300 hover:bg-gray-50">
                    <td class="p-2">-</td>
                    <td class="p-2">-</td>
                    <td class="p-2">Población total</td>
                    <td class="p-2">Área total abarcada</td>
                    <td class="p-2">-</td>
                    <td class="p-2">-</td>
                    <td class="p-2">Promedio total de gini</td>
                    <td class="p-2">-</td>
                    <td class="p-2">-</td>
                    <td class="p-2">-</td>
                    <td class="p-2">-</td>
                    <td class="p-2">-</td>
                    <td class="p-2">-</td>
                </tr>
                <!-- Los resultados-->
                <tr class="border-b border-gray-300 hover:bg-gray-50">
                    <td class="p-2">-</td>
                    <td class="p-2">-</td>
                    <td class="p-2"><%= totalPoblacion.toLocaleString("es-AR") %></td>
                    <td class="p-2"><%= totalArea.toLocaleString("es-AR") %>m<sup>2</sup></td>
                    <td class="p-2">-</td>
                    <td class="p-2">-</td>
                    <td class="p-2"><%= promedioGini %>%</td>
                    <td class="p-2">-</td>
                    <td class="p-2">-</td>
                    <td class="p-2">-</td>
                    <td class="p-2">-</td>
                    <td class="p-2">-</td>
                    <td class="p-2">-</td>
                </tr>
            </tfoot>
        </table>
    <br>
    <!-- Boton para exportar -->
    <form action="/dashboard/exportar" method="GET">
        <button class="ml-6 bg-blue-500 text-white px-4 py-2 rounded">
            Exportar CSV
        </button>
    </form>
</div>
