<div class="p-2">

    <form action="/dashboard/filtrado" method="POST"
      class="w-full bg-gray-100 border border-gray-300 rounded-md px-4 py-3 mb-4">

        <div class="flex items-end gap-4">
            <!-- Atributo -->
            <div class="flex flex-col">
                <label class="text-sm font-semibold text-gray-600 mb-1">
                    Atributo
                </label>
                <select name="atributo"
                        class="h-9 rounded border border-gray-300 bg-white px-2 text-sm
                            focus:outline-none focus:ring-1 focus:ring-blue-500">
                    <option value="nombrePais">Nombre del país</option>
                    <option value="nombreCapital">Nombre de la capital</option>
                    <option value="region">Región</option>
                    <option value="bordes">Países fronterizos</option>
                    <option value="lenguajesHablados">Idiomas hablados</option>
                    <option value="zonasHorarias">Zonas horarias</option>
                    <option value="creador">Creador</option>
                </select>
            </div>

            <!-- Texto "si:" -->
            <div class="pb-2 text-sm font-semibold text-gray-500">
                Buscar:
            </div>

            <!-- Valor -->
            <div class="flex-1">
                <input type="text" name="valor" required
                    placeholder="Escriba el valor a buscar"
                    class="w-full h-9 rounded border border-gray-300 bg-white px-3 text-sm
                            focus:outline-none focus:ring-1 focus:ring-blue-500">
            </div>

            <!-- Botón -->
            <div>
                <button type="submit"
                        class="h-9 px-4 bg-blue-600 text-white text-sm font-semibold
                            rounded hover:bg-blue-700 transition">
                    Filtrar
                </button>
            </div>

        </div>
    </form>
        <!-- Tabla que contiene los paises -->
        <table class="min-w-full border border-gray-300 text-sm text-left">
            <thead>
                <!-- Encabezado -->
                <tr class="bg-gray-100 border-b border-gray-300">
                    <th class="p-2 font-semibold">País</th>
                    <th class="p-2 font-semibold">Capital</th>
                    <th class="p-2 font-semibold">Cant. Población</th>
                    <th class="p-2 font-semibold">Área</th>
                    <th class="p-2 font-semibold">Región</th>
                    <th class="p-2 font-semibold">Fronteras</th>
                    <th class="p-2 font-semibold">Índice_Gini (recientes)</th>
                    <th class="p-2 font-semibold">Idiomas</th>
                    <th class="p-2 font-semibold">Bandera del país</th>
                    <th class="p-2 font-semibold">Zonas horarias</th>
                    <th class="p-2 font-semibold">Creador</th>
                    <th class="p-2 font-semibold">-</th>
                    <th class="p-2 font-semibold">-</th>
                </tr>
            </thead>
        
            <tbody>
                <!-- Cuerpo, cada pais se rellena con las propiedades del array enviado-->
                <% paises.forEach(pais => { %>
                <tr class="border-b border-gray-300 hover:bg-gray-50">
                    <td class="p-2"><%= pais.nombrePais %></td>
                    <td class="p-2"><%= pais.nombreCapital %></td>
                    <td class="p-2"><%= pais.poblacion.toLocaleString("es-AR") %></td>
                    <td class="p-2"><%= pais.area.toLocaleString("es-AR") %>m<sup>2</sup></td>
                    <td class="p-2"><%= pais.region %></td>
                    <td class="p-2"><%= pais.bordes && pais.bordes.length > 0 ? pais.bordes : '-' %></td>
                    <td class="p-2"><%= pais.gini && pais.gini > 0 ? pais.gini + "%" : '-' %></td>
                    <td class="p-2"><%= pais.lenguajesHablados %></td>
                    <td class="p-2"><img src="<%=pais.bandera%>" class="w-12 h-auto border"/></td>
                    <td class="p-2"><%= pais.zonasHorarias %></td>
                    <td class="p-2"><%= pais.creador %></td>
                    <td class="p-2">
                        <!--Boton para editar país-->
                        <form action="/pais/<%= pais._id %>/editar" width="5%" method="GET" class="inline">
                            <button type="submit" class="px-3 py-1 bg-blue-500 text-white rounded hover:bg-blue-600">Editar</button>
                        </form>
                    </td>
                    <td class="p-2">
                        <!-- Boton para eliminar país -->
                        <form action="pais/<%= pais._id %>?_method=DELETE" method="POST" class="inline">
                            <button type="submit" onclick="return confirm('¿Seguro que querés eliminar este héroe?')" class="px-3 py-1 bg-red-500 text-white rounded hover:bg-red-600">Eliminar</button>
                        </form>
                    </td>
                </tr>
                <% }) %>
            </tbody>
            <!-- Píe de tabla donde damos los resultados de algunos campos fusionados-->
            <tfoot>
                <tr class="border-b border-gray-300 hover:bg-gray-50">
                    <td class="p-2">-</td>
                    <td class="p-2">-</td>
                    <td class="p-2">Población total</td>
                    <td class="p-2">Área total abarcada</td>
                    <td class="p-2">-</td>
                    <td class="p-2">-</td>
                    <td class="p-2">Promedio total de gini</td>
                    <td class="p-2">-</td>
                    <td class="p-2">-</td>
                    <td class="p-2">-</td>
                    <td class="p-2">-</td>
                    <td class="p-2">-</td>
                    <td class="p-2">-</td>
                </tr>
                <!-- Los resultados-->
                <tr class="border-b border-gray-300 hover:bg-gray-50">
                    <td class="p-2">-</td>
                    <td class="p-2">-</td>
                    <td class="p-2"><%= totalPoblacion.toLocaleString("es-AR") %></td>
                    <td class="p-2"><%= totalArea.toLocaleString("es-AR") %>m<sup>2</sup></td>
                    <td class="p-2">-</td>
                    <td class="p-2">-</td>
                    <td class="p-2"><%= promedioGini %>%</td>
                    <td class="p-2">-</td>
                    <td class="p-2">-</td>
                    <td class="p-2">-</td>
                    <td class="p-2">-</td>
                    <td class="p-2">-</td>
                    <td class="p-2">-</td>
                </tr>
            </tfoot>
        </table>
    <br>
    <!-- Boton para exportar -->
    <form action="/dashboard/exportar" method="GET">
        <button class="ml-6 bg-blue-500 text-white px-4 py-2 rounded">
            Exportar CSV
        </button>
    </form>
</div>
